/* Styles for the input */
div.ReactTags__tagInput {
    width: 200px;
    border-radius: 2px;
    display: inline-block;
}
div.ReactTags__tagInput input.ReactTags__tagInputField,
div.ReactTags__tagInput input.ReactTags__tagInputField:focus {
    flex: 1;
    background: #F0F0F5;
    border-radius: 8px;
    border: 0;
    padding: 16px 24px;
    font-size: 16px;
    color: #6C6C80;
    margin-top:25px;
}

input.ReactTags__tagInputField {
    width: 600px;
}

div.ReactTags__tagInput {
    display: block;
}


/* Styles for selected tags */
div.ReactTags__selected span.ReactTags__tag {
    background: var(--primary-color);
    border-radius: 8px;
    border: 0;
    padding: 16px 24px;
    font-size: 16px;
    color: #002B49;
    margin-right: 24px;
}

div.ReactTags__selected span.ReactTags__tag {
    margin-bottom: 10px;
}


div.ReactTags__selected a.ReactTags__remove {
    color: #002B49;
    margin-left: 10px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
}

/* Styles for suggestions */
div.ReactTags__suggestions {
    position: absolute;
}
div.ReactTags__suggestions ul {
    list-style-type: none;
    box-shadow: .05em .01em .5em rgba(0,0,0,.2);
    background: white;
    width: 200px;
}
div.ReactTags__suggestions li {
    border-bottom: 1px solid #ddd;
    padding: 5px 10px;
    margin: 0;
}
div.ReactTags__suggestions li mark {
    text-decoration: underline;
    background: none;
    font-weight: 600;
}
div.ReactTags__suggestions ul li.ReactTags__activeSuggestion {
    background: #b7cfe0;
    cursor: pointer;
}

.mt-20 {
    margin-top: 20px;
}